{% extends "base.html" %}

    {% block content %}
        <h1>Hello, {{ current_user.username }}!</h1>

        <div id='map' style='width: 400px; height: 300px;'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibmF0dXJhbGdlb2RhdGEiLCJhIjoiY2szc3ZqdHhjMDAyczNvbm1uaDA5bXdnYyJ9.T1pC5tn7MwSDa-p5M3_89w';
            
			var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/naturalgeodata/ck3svpi9o1us31cpgeimhbq03',
				center: [-82.4705, 35.4014],
				zoom: 14
            });

			map.addControl(new mapboxgl.NavigationControl());
        </script>
    {% endblock %}
